<div
  ng-class="bannerVm.stateClass"
  class="c-alert">
  <div class="c-alert__state">
    <svg class="c-alert__icon">
      <use
        ng-if="bannerVm.state === 'info'"
        xlink:href="#shape-info">
      </use>
      <use
        ng-if="bannerVm.state === 'warning'" xlink:href="#shape-warning">
      </use>
      <use
        ng-if="bannerVm.state === 'success'"
        xlink:href="#shape-checkmark">
      </use>
      <use
        ng-if="bannerVm.state === 'error'"
        xlink:href="#shape-icon-blocked"
        >
      </use>
    </svg>
  </div>

  <div class="c-alert__content">
    <div class="c-alert__message">
      <div
        ng-if="bannerVm.message"
        ng-bind="bannerVm.message">
      </div>

      <ng-transclude ng-if="!banner.message">
      </ng-transclude>
    </div>
    <div
      class="c-alert__action"
      ng-if="bannerVm.hasButton">
      <button
        class="c-button c-button--outline-default"
        type="button"
        ng-attr-title="{{bannerVm.buttonName}}"
        ng-click="bannerVm.onButtonClick()"
        ng-bind="bannerVm.buttonName">
        <span class="nice">hello</span>
        <span class="nice">hello</span>
        <span class="nice">hello</span>
      </button>
    </div>
  </div>
</div>
<img src="hello.png"/>
